/* default font */
body {
  font-family: Arial, sans-serif;
}

/* stylign for h1 */
h1 {
  text-align: center;
}

/* Make SVG responsive and centered */
svg {
  display: block;
  margin: auto;
  max-width: 100%; 
}

/* Styling for rectangle boxes inside anchor tags */
a rect, .parent-node {
  fill: rgb(0, 121, 107); 
  stroke: #1B4538;
  stroke-width: 2px;
  transition: fill 0.3s ease;
}

/* Hover effect for clickable boxes */
a:hover rect, a:focus rect {
  fill: #41c39e;
}

/* Text inside SVG anchor tags */
a text, .parent-text {
  fill: white;
  font-size: 11px;
  text-anchor: middle;
  pointer-events: none;
}

/* Line styles for connections */
line {
  stroke: #225746;
  stroke-width: 2px;
}

/* Card-style background for sitemap SVG */
.sitemap_card{
  background-color: #e0f7facc;
  border-radius: 20px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari browser support */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}



