body {

  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

svg {
  display: block;
  margin: auto;
  max-width: 100%; 
}

a rect, .parent-node {
  fill: rgb(0, 121, 107); 
  stroke: #1B4538;
  stroke-width: 2px;
  transition: fill 0.3s ease;
}

a:hover rect, a:focus rect {
  fill: #41c39e;
}

a text, .parent-text {
  fill: white;
  font-size: 11px;
  text-anchor: middle;
  pointer-events: none;
}

line {
  stroke: #225746;
  stroke-width: 2px;
}

.sitemap_card{
  background-color: #e0f7facc;
  border-radius: 20px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari browser support */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}



