

h2{
    color:#437057;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: center;
}




h3{
    color:#bfb90f ;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}




.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-start;
}
main {
    flex: 3;
}
aside {
    margin-top: 32px;
    flex: 1;
    background-color: #f4f4f4;
    padding: 15px;
    border: 3px ridge #00796b;
    margin-right: 20px;
    height: fit-content;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}


.ref li{
    list-style: none;
    padding-bottom: 9px;
}

aside a{
    text-decoration : none;
}

aside li{
    padding-bottom: 4px;
}

.stud {
    margin-left: 550px; 
    width: 40%;
    max-width: 100%;
    background-color: #cbccc2ef;
    color:#00796b;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
    line-height: 1.2;
    border: 3px ridge #00796b;
}
.main-cards{
    border: #00796b ridge 3px;
}

.stud h2 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
}



img{
    width: 90%;
}
