
/* 
  =============================
  Page Editor CSS for Student 2
  =============================
*/

h2{

    margin-top: 5px;
    margin-bottom: 5px;

    text-align: center;
}


h3{

    margin-top: 5px;
    margin-bottom: 5px;

}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* 
  =============================
        Container and Layout
  =============================
*/

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-start;
}
main {
    flex: 3;
}


/* 
  =============================
        aside Section
        Contains References and Links
  =============================
*/
aside {
    margin-top: 32px;
    flex: 1;
    background-color: #f4f4f4;
    padding: 15px;
    border: 3px ridge #00796b;
    margin-right: 20px;
    height: fit-content;
}

aside li {
    color: var(--primary-color);
}


aside li a {
  color:var(--primary-color); 
  text-decoration: none; 
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}


.ref li{
    list-style: none;
    padding-bottom: 9px;
}

aside a{
    text-decoration : none;
}

aside li{
    padding-bottom: 4px;
}



/* 
  =============================
        Student Section
        Contains Student Information
  =============================
*/

.stud {
    margin-left: 550px; 
    width: 40%;
    max-width: 100%;
    background-color: #cbccc2ef;
    color:#00796b;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
    line-height: 1.2;
    border: 3px ridge #00796b;
}
.main-cards{
    border: #00796b ridge 3px;
}

.stud h2 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
}


img{
    width: 90%;
}

ul.bullet_list {
  list-style: none;
  position: relative;
}

ul.bullet_list li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
}

/* 
  =============================
        Info List Section
        Contains Information List with Icons
  =============================
*/

ul.bullet_list li::before {
  content: "\f05a";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0.1em;
  color: var(--primary-color); 
}


section.info-list p {
  position: relative;
  padding-left: 1.8em;
  margin-bottom: 1em;
}


section.info-list p::before {
  content: "\f05a"; 
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0.2em;
  color: var(--primary-color); 
}

/* Add left margin to top-level list items */
ul.top-level-ul > li {
  margin-left: 1em; 
}


ul.sub-level-ul li {
  margin-left: 2em;
}

/* 
  =============================
    End of Student 2 Page Editor CSS
        
       - Edited by Student 2
  =============================
*/



