
/* 
  =============================
        Home Page Styles
  =============================
*/


/* 
  =============================
     Mission Section Styles
  =============================
*/

.mission {
  margin-top: 50px;
  padding: 2rem;
  background-color: var(--background-color); 
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 4px 10px var(--primary-color);
  opacity: 0.95; 
}

.mission h1 {
  font-size: 3rem;
  color: var(--primary-color); 
  margin-bottom: 1rem;
  text-shadow: 0 0 3px var(--soft-green);
}

h2 {
    margin-bottom: 60px;
}

.mission p {
  border: 5px ridge var(--primary-color);
  font-size:19px;
  line-height: 1.8;
  max-width: 1000px;
  margin: 0 auto;
  color: #333; 
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 90px;
}

.mission b {
    font-size: 18px;
  line-height: 1.8;

}


/* 
  =============================
     Learn More Section 
     Tile container
     Each content tile
  =============================
*/

.learn-more-section {
  text-align: center;
  margin: 3rem 0 2rem;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding: 0 1rem;
  max-width: 1500px;
  margin: 0 auto 4rem;
}


/* 
  =============================
      Content Tile Styles
      Each content tile
      Hover effects
      Tile images
      Tile title
      Tile description
      Learn more button

  =============================
*/

.content-tile {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #222;
  align-items: center;
  text-decoration: none;
  flex: 1 1 240px;      
  max-width: 240px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px var(--primary-color);
}

.content-tile:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}


.tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 4px 10px var(--primary-color);
}


.tile-title {
  font-size: 1.3rem;
  color:var(--primary-color); /* Dark teal */
  margin: 1rem 1rem 0.5rem;
  font-weight: 900;
}


.content-tile p {
  font-size: 22px;
  line-height: 1.5;
  color: #444;
 
  
}

.learnmore {
  background: transparent;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  padding: 12px 28px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px var(--secondary-color), 0 0 20px transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.learnmore-link {
  background: transparent;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  padding: 12px 28px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px var(--secondary-color), 0 0 20px transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.learnmore-link:hover {
  background-color: var(--button-hover-color);
  color: black;
  box-shadow: 0 0 10px #00ffff, 0 0 20px var(--button-hover-color), 0 0 30px var(--background-color);
  transform: scale(1.05);
}

.learnmore:hover {
    background-color: var(--button-hover-color);
    color: black;
    box-shadow: 0 0 10px #00ffff, 0 0 20px var(--button-hover-color), 0 0 30px var(--button-hover-color);
    transform: scale(1.05);
}



/* 
  =============================
      Support Section Styles
      Extra support logos
      Support item styles
      Support item images
      
  =============================
*/

.extra-support-logos {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin: 2rem 0;
  flex-wrap: wrap;
  
}

.support-item {
  text-align: center;
  max-width: 180px;
}

.support-item img {
  width:170px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--primary-color);
  transition: transform 0.3s ease;
}

.support-item img:hover {
  transform: scale(1.08);
}

.support-item .button-wrapper {
  margin-top: 1rem;
}












